/*Edited and Added and Corrected by Hieu Nguyen */
/*Street Fighter: HTML and CSS Walkthrough and also the effects and events*/
/*Background Color*/
body {
  background-color: black;
}

/*Make text on screen clear*/
.instructions {
	font-size: 30px;
	margin: 20px 4em 0 600px;
	position: absolute;
}

/*Main Container*/
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

/*Ryu Image Divs*/
.ryu {
    width: 659px;
    height: 494px;
/*I had to add this line of code*/
	float: left;	
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool /*add .ryu-cool part of div class*/{
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool /*add .ryu-cool part of div class*/{
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png')
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

/*Add .ryu-cool property*/
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool /*add .ryu-cool part of div class*/ {
  background-repeat: no-repeat;
}

/*Hadouken Div*/
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 167px;
  left: 520px;
}
